[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
	branch = master
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/chaconinc/DbConnector
[submodule "fonts/powerline2"]
	path = fonts/powerline2
	url = git@github.com:powerline/fonts.git
