[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
	branch = master
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = git@github.com:powerline/fonts.git
[submodule "fonts/powerline2"]
	path = fonts/powerline2
	url = git@github.com:powerline/fonts.git
[submodule "vim/plugged/coc.nvim"]
	path = vim/plugged/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "tmux/tmux-thumbs"]
	path = tmux/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs
